@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: #f4f4f4;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}
